.table-container {
    padding: 20px; /* Add desired padding value */
  }
  
  .my-custom-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .my-custom-table th,
  .my-custom-table td {
    border: 1px solid black;
    padding: 8px;
  }
  
  .calls-label {
    background-color: #ffd700; /* Calls column label color */
    color: black;
    text-align: center;
  }
  
  .puts-label {
    background-color: #00bfff; /* Puts column label color */
    color: white;
    text-align: center;
  }
  
  .calls-subcolumn {
    background-color: #fffacd; /* Calls subcolumn color */
    color: black;
  }
  
  .puts-subcolumn {
    background-color: #b0e0e6; /* Puts subcolumn color */
    color: black;
  }
  