{% load static %}


<style>label {
  display: inline-block;
}

label b {
  margin-right: 9px;
}</style>
<div class="s-container">
<div class="input-container" id="aa">
    <label for="field2"></label>
    <!-- <label for="field2">View Options Contracts for:</label> -->
    <form hx-target='.input-container' hx-swap='outerHTML' hx-post="{% url 'get-expiry' %}">
        {% csrf_token %}
        <select hx-post="{% url 'get-expiry' %}" name="symbol" id="symbol">
        <option value="" {% if not sym %} selected {% endif %}>SELECT</option>
        {% for symbol in symbols %}
        <option value="{{ symbol }}" {% if symbol == sym %} selected {% endif %}>{{ symbol }}</option>
        {% endfor %}
        </select>

        <label for="expiry">Select Expiry:</label>
        <select hx-post="{% url 'get-expiry' %}" name="expiry" id="expiry">
            <option value="" {% if not expiration %} selected {% endif %}>SELECT</option>
            {% for exp in expiry %}
                <option value="{{ exp|date:'d b Y' }}" {% if expiration == exp|date:'d b Y' %} selected {% endif %}>{{ exp|date:'d b Y' }}</option>
            {% endfor %}
        </select>

        <label for="strike"><b>OR</b>Strike Price</label>
        <select hx-post="{% url 'get-expiry' %}" name="strike" id="strike" >
            <option value="" {% if not strike_price %} selected {% endif %}>SELECT</option>
            {% for strike in strikes %}
                <option value="{{ strike }}" {% if strike_price and strike_price == strike %} selected {% endif %}>{{ strike }}</option>
            {% endfor %}
        </select>

        <script>
          document.getElementById("expiry").addEventListener("change", function() {
              document.getElementById("strike").selectedIndex = 0;
          });
      
          document.getElementById("strike").addEventListener("click", function() {
              document.getElementById("expiry").selectedIndex = 0;
          });
      </script>
      
    </form>


{% load static %}

<link rel="stylesheet" href="{% static 'custom.css' %}">
<section id="portfolio"  class="portfolio">
    <div class="table-container" hx-get="{% url 'get-expiry' %}?symbol={{ sym }}&expiry={{ expiration }}&strike={{ strike_price }}" hx-target='this' hx-swap='innerHTML' hx-trigger='load, every 5s'>
      <table class="my-custom-table" id="my-custom-table-id">            <thead>
        <tr>
          <th colspan="10" class="calls-label">Calls</th>
          <th colspan="1" class="strike-label">Strike</th>
          <th colspan="10" class="puts-label">Puts</th>
        </tr>
        <tr>
          <th class="calls-subcolumn">OI</th>
          <th class="calls-subcolumn">CHNG IN OI</th>
          <th class="calls-subcolumn">VOLUME</th>
          <th class="calls-subcolumn">IV</th>
          <th class="calls-subcolumn">LTP</th>
          <th class="calls-subcolumn">CHNG</th>
          <th class="calls-subcolumn">BID QTY</th>
          <th class="calls-subcolumn">BID</th>
          <th class="calls-subcolumn">ASK</th>
          <th class="calls-subcolumn">ASK QTY</th>
          <th class="strike-subcolumn"></th>
          <th class="puts-subcolumn">BID QTY</th>
          <th class="puts-subcolumn">BID</th>
          <th class="puts-subcolumn">ASK</th>
          <th class="puts-subcolumn">ASK QTY</th>
          <th class="puts-subcolumn">CHNG</th>
          <th class="puts-subcolumn">LTP</th>
          <th class="puts-subcolumn">IV</th>
          <th class="puts-subcolumn">VOLUME</th>
          <th class="puts-subcolumn">CHNG IN OI</th>
          <th class="puts-subcolumn">OI</th>
        </tr>
      </thead>

      <tbody>
          {% for price in option_prices %}
                <tr>
                  <td>{{ price.call.oi}}</td>
                  <td></td>
                  <td>{{price.call.volume}}</td>
                  <td>-</td>
                  <td>{{price.call.ltp}}</td>
                  <td></td>
                  <td>{{price.call.bid_qty}}</td>
                  <td>{{price.call.bid_price}}</td>
                  <td>{{price.call.ask_price}}</td>
                  <td>{{price.call.ask_qty}}</td>
                  <td id='stkpr'><b>{{price.strike}}</b></td>
                  <td>{{price.put.bid_qty}}</td>
                  <td>{{price.put.bid_price}}</td>
                  <td>{{price.put.ask_price}}</td>
                  <td>{{price.put.ask_qty}}</td>
                  <td></td>
                  <td>{{price.put.ltp}}</td>
                  <td></td>
                  <td>{{price.put.volume}}</td>
                  <td></td>
                  <td>{{price.put.oi}}</td>
                </tr>
          {% endfor %}
      </tbody>

    </table>
        </div>
    </section>
</div>
</div>
